*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}
img{
    width: 100%;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
/* header section */
#hero {
    width: 100%;
    height: 100vh;
    background: url(../images/desktop/image-header.jpg)no-repeat center center/cover;
}
.navBar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
}
.navBar h1{
    color: #ffffff;
    padding: 15px 30px;
}
.navBar ul{
    display: flex;
    padding: 15px 20px;
}
.navBar a{
    padding: 0 20px;
    color: #ffff; 
}
a[target]{
    background: white;
    color: rgba(0, 0, 0, 0.719);
    padding: 10px 30px;
    border-radius: 20px;
}
a[target]:hover{
    background:  rgb(204, 237, 248);
    color: white;
}
.showCase h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh; 
    font-weight: 700;
    font-size: 4rem;
    color: #ffffff;
    font-family: 'Fraunces', serif;
}
.showCase svg{
    margin: auto;
    display: block;
}

/* flex columns */
.flexColumns .row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    width: 100%;
}
.flexColumns .column{
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
}
.flexColumns img{
    width: 100%;
    height: 100%; 
    object-fit: cover;
}
.column .column1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%; 
    padding: 140px 40px; 
}
.flexColumns .column1 h1{
    font-family: 'Fraunces', serif;
    font-size: 2rem;
    color: black;
    padding-bottom: 20px;
}
.flexColumns .column1 p{
    color: #727272;
}
.btn1{
    padding-top: 20px;
    color: black;
    border-bottom: 3px solid  #ffed87; 
    width: 24%;
}
.btn1:hover{
    border-bottom: 3px solid  #fad400; 
}
.btn3{
    padding-top: 20px;
    color: black;
    border-bottom: 3px solid  #ffed87; 
    width: 20%;
}
.btn3:hover{
    border-bottom: 3px solid  #fad400; 
}
.btn2{
    padding-top: 20px;
    color: black;
    border-bottom: 3px solid #faafa5 ; 
    width: 24%;
}
.btn2:hover{
    border-bottom: 3px solid  #fe7867; 
}
.flexColumns.flexDirection .row{
    flex-direction: row-reverse;
}
/* split background images */
.bgImages{
    display: flex;
}
.columns1{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    color:  #1a536b;
    padding: 60px 90px;
    width: 100%;
    height: 90vh;
    background: url(../images/desktop/image-photography.jpg)no-repeat center center/cover;
}
.columns2{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    color: #26574c;
    padding: 60px 90px;
    width: 100%;
    height: 90vh;
    background: url(../images/desktop/image-graphic-design.jpg)no-repeat center center/cover;
}
.columns1 h1,
.columns2 h1{
    font-family: 'Fraunces', serif;
    padding-bottom: 20px;
}
/* testimonials */
.flexItems .sectionHeader{
    background: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    font-family: 'Fraunces', serif;
    color: hsl(210, 4%, 67%);
    letter-spacing: 5px;
}
.flexItems .team{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 110px;
}
.flexItems div img{
    border-radius: 50%;
    width: 9vh;
    height: 9vh;
    margin: auto;
    display: block;
    margin-top: 100px;
    margin-bottom: 50px;
}
.team div p{
    color:hsl(213, 9%, 39%);
    text-align: center;
    padding: 0 17px;
}
.team div h1{
    font-size: 13px;
    font-family: 'Fraunces', serif;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 7px;
}
.team div h4{
    color: hsl(210, 4%, 67%);
}
/* gallery */
.gallery img{
    display: flex;
    max-width: 25%;
    flex: 25%;
    height: 100%;
}
.gallery .galleryImage {
    display: flex;
    margin-top: 150px;
} 
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:  hsl(168, 52%, 46%);
    width: 100%;
    height: 300px;
}
footer h1{
    font-size: 30px;
    color: #26574c;
    font-family: 'Barlow', sans-serif;
}
footer ul{
    display: flex;
    padding: 20px;
}
footer a{
    font-weight: 700;
    font-size: 14px;
    color: #26574c;
    padding: 20px;
}
footer a:hover{
    color: #ffffff;
}
footer .icons{
    margin-top: 30px;
    word-spacing: 15px;
}
